* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: black;
  color: white;
  letter-spacing: .25rem;
  width: 31rem;
  height: 4.8rem;
  font-weight: 700;
  border: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #DFDFDF;
  color: black;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 639px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 640px) {
  .hide-for-desktop {
    display: none;
  }
}

header nav {
  width: 87.2%;
  margin: auto;
  height: 7.2rem;
}

header nav .links a {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .25rem;
  color: black;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

header nav .links a:not(:last-child) {
  margin-right: 3.7rem;
}

header nav .links a:hover {
  opacity: 30%;
}

@media (min-width: 640px) {
  nav {
    width: 90%;
    margin: auto;
  }
  nav .links {
    padding: 0 2rem 0 2rem;
    font-size: 1.2rem;
  }
  button {
    width: 15.8rem;
    height: 4rem;
  }
}

@media (min-width: 1024px) {
  nav {
    width: 77%;
    margin: auto;
  }
}

.menu-btn {
  width: 2rem;
  height: .6rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: .1rem;
  background: #000000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.overlay {
  display: none;
  background-color: black;
  position: absolute;
  opacity: 50%;
  height: 100%;
  width: 100%;
  top: 7.2rem;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.menu {
  display: none;
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 2;
}

.menu .menu-links {
  margin-top: 3.2rem;
  width: 82.6%;
  margin: auto;
  border-bottom: 1px solid rgba(151, 151, 151, 0.25);
}

.menu .menu-links a {
  color: black;
  margin-bottom: 2rem;
}

.menu .menu-links a:first-child {
  margin-top: 3.2rem;
}

.menu .get-invite-btn-menu {
  margin: 2rem 0 3.2rem 0;
}

footer {
  height: 53.9rem;
  background-color: black;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo-footer {
  margin-top: 5.6rem;
  margin-bottom: 3.2rem;
}

footer .socials {
  width: 15.4rem;
  margin-bottom: 4.9rem;
}

footer .footer-links {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  height: 12.1rem;
  margin-bottom: 11.9rem;
}

footer .footer-links a {
  color: white;
}

footer .get-invite-footer {
  cursor: pointer;
  width: 17.2rem;
  margin-bottom: 3.4rem;
  text-transform: uppercase;
}

footer .get-invite-footer span {
  font-weight: 700;
  letter-spacing: .2rem;
  color: white;
  font-size: 1.2rem;
}

footer .copyright {
  font-size: 1.5rem;
  color: white;
  opacity: 50.25%;
}

@media (min-width: 640px) {
  footer {
    padding: 0 4rem 0 4rem;
    height: 28.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-top {
    height: 15.6rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-bottom {
    height: 15.6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer .logo-footer {
    margin-bottom: 2.9rem;
  }
  footer .socials {
    margin-top: 6rem;
  }
  footer .footer-links-hidden {
    margin: 0;
    width: 31.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    height: 1.6rem;
  }
  footer .footer-links-hidden a {
    color: white;
  }
  footer .footer-links-hidden a:hover {
    opacity: 30%;
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 0rem 17.1rem 0rem 17.1rem;
  }
  footer .footer-links-hidden a:hover {
    opacity: 30%;
  }
  footer .get-invite-footer span:hover {
    text-decoration: underline;
  }
}

.features-hero {
  height: 59.4rem;
}

.features-hero .features-hero-img {
  background: url("/assets/features/mobile/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 29.4rem;
  width: 100%;
}

.features-hero .features-hero-txt {
  background-color: black;
  color: white;
  height: 30rem;
}

.features-hero .features-hero-txt h2 {
  width: 84.8%;
  margin: auto;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: .333rem;
  margin-bottom: 1.6rem;
  margin-top: 6.6rem;
}

.features-hero .features-hero-txt h3 {
  font-weight: 300;
  opacity: 60%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  width: 84.8%;
  margin: auto;
  margin-bottom: 2.3rem;
}

.features-hero .features-hero-txt .gradient {
  margin-left: 3.3rem;
  height: .6rem;
  width: 12.8rem;
  background: linear-gradient(361deg, #FFC593, #BC7198, #5A77FF);
}

.benefits {
  padding: 6.4rem 0 6.4rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (23.6rem)[6];
      grid-template-rows: repeat(6, 23.6rem);
  row-gap: 5.6rem;
}

.benefits .benefit {
  width: calc(310/375*100%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.benefits .benefit .benefit-txt {
  margin-top: 4.8rem;
}

.benefits .benefit .benefit-txt h3 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.benefits .benefit .benefit-txt p {
  margin-top: 1.6rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 60%;
}

.beta {
  position: relative;
  height: 28.8rem;
}

.beta .gradient {
  position: absolute;
  height: .6rem;
  left: 3.3rem;
  width: 12.8rem;
  background: linear-gradient(361deg, #FFC593, #BC7198, #5A77FF);
}

.beta .beta-img {
  background: url("/assets/shared/mobile/bg-beta.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.beta .beta-txt {
  width: calc(310/375*100%);
  color: white;
  position: absolute;
  z-index: 2;
  left: 3.3rem;
  top: 7rem;
}

.beta .beta-txt .get-invite-beta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 17.2rem;
  margin-bottom: 3.4rem;
  text-transform: uppercase;
}

.beta .beta-txt .get-invite-beta span {
  margin-right: 1.6rem;
  font-weight: 700;
  letter-spacing: .2rem;
  color: white;
  font-size: 1.2rem;
}

.beta .beta-txt h3 {
  font-size: 3.2rem;
  text-transform: uppercase;
  letter-spacing: .333rem;
  line-height: 4rem;
  margin-bottom: 3.2rem;
}

@media (min-width: 640px) {
  .features-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 49rem;
  }
  .features-hero .features-hero-img {
    background: url("/assets/features/tablet/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 49rem;
    width: 100%;
  }
  .features-hero .features-hero-txt {
    position: relative;
    height: 49rem;
  }
  .features-hero .features-hero-txt .gradient {
    position: absolute;
    top: 17.3rem;
    margin: 0;
    height: 14.4rem;
    width: .6rem;
  }
  .features-hero .features-hero-txt h2 {
    width: 100%;
    padding-left: 6.8rem;
    padding-right: 6.8rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    letter-spacing: .417rem;
    margin-bottom: 2.1rem;
    margin-top: 17.3rem;
  }
  .features-hero .features-hero-txt h3 {
    width: 100%;
    margin: 0;
    padding-left: 6.8rem;
    padding-right: 6.8rem;
    font-weight: 300;
    opacity: 60%;
    margin-bottom: 4.8rem;
  }
  .benefits {
    padding: 0;
    margin: 21.1rem 0 21.1rem 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (23.6rem)[3];
        grid-template-rows: repeat(3, 23.6rem);
    row-gap: 7rem;
  }
  .benefits .benefit {
    width: calc(340/375*100%);
    max-width: 34rem;
  }
  .beta {
    height: 28rem;
  }
  .beta .beta-img {
    background: url("/assets/shared/tablet/bg-beta.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  .beta .beta-txt {
    width: 100%;
    padding: 0 4rem 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    color: white;
    position: absolute;
    z-index: 2;
    left: 0rem;
    top: 7rem;
  }
  .beta .beta-txt h3 {
    max-width: 40rem;
    font-size: 4rem;
    letter-spacing: .417rem;
    line-height: 4.8rem;
  }
  .beta .gradient {
    height: 100%;
    left: 0rem;
    width: .6rem;
    background: linear-gradient(361deg, #FFC593, #BC7198, #5A77FF);
  }
}

@media (min-width: 1024px) {
  .features-hero .features-hero-img {
    background: url("/assets/features/desktop/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .features-hero .features-hero-txt {
    max-width: 61rem;
  }
  .features-hero-txt h2 {
    padding-left: 11.2rem;
    padding-right: 14rem;
  }
  .features-hero-txt h3 {
    padding-left: 11.2rem;
    padding-right: 14rem;
  }
  .benefits {
    padding: 0;
    margin: 16rem 0 16rem 0;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: (23.6rem)[2];
        grid-template-rows: repeat(2, 23.6rem);
    row-gap: 10.4rem;
  }
  .beta .beta-img {
    background: url("/assets/shared/desktop/bg-beta.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .beta .beta-txt {
    padding: 0rem 17.1rem 0rem 17.1rem;
  }
  .beta .beta-txt .get-invite-beta span:hover {
    text-decoration: underline;
  }
}
/*# sourceMappingURL=features.css.map */