@import "../scss/common/_global";
@import "../scss/common/_header";
@import "../scss/common/_footer";

.section-stories {
    height: 71.3rem;
    display: flex;
    flex-direction: column;

    .create-stories-txt,
    .beauti-stories-txt,
    .design-stories-txt {

        height: 41.9rem;

        h2 {
            width: 84.8%;
            margin: auto;
            text-transform: uppercase;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 4rem;
            letter-spacing: .333rem;
            margin-bottom: 1.6rem;
            margin-top: 6.6rem;
        }
        h3 {
            font-weight: 300;
            opacity: 60%;
            font-size: 1.5rem;
            line-height: 2.5rem;
            width: 84.8%;
            margin: auto;
            margin-bottom: 2.3rem;
        }
    }

    .beauti-stories-txt,
    .design-stories-txt {
        h2 {
            margin-top: 9.2rem;
        }
    }

    .get-invite {
        width: 84.8%;
        margin: auto;
        cursor: pointer;
        
        span {
            font-weight: 700;
            font-size: 1.2rem;
            letter-spacing: .2rem;
            text-transform: uppercase;
            margin-right: 1rem;
        }
    }

    .create-stories-txt {
        .gradient {
            margin-left: 3.3rem;
            height: .6rem;
            width: 12.8rem;
            background: linear-gradient(361deg, #FFC593, #BC7198, #5A77FF);
        }
        background-color: black;
        color: white;
    }

    .create-stories-img {
        @include set-background("/assets/home/mobile/create-and-share.jpg");
        height: 29.4rem;
        width: 100%;
    }

    .beauti-stories-img {
        @include set-background("/assets/home/mobile/beautiful-stories.jpg");
        height: 27.1rem;
        width: 100%;
    }

    .design-stories-img {
        @include set-background("/assets/home/mobile/designed-for-everyone.jpg");
        height: 27.1rem;
        width: 100%;
    }
}


.stories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,min(375px));

    .mountains {
        @include set-gradient-and-background(linear-gradient(0deg, rgba(0,0,0,0.6612), rgba(0,0,0,0.01)), "/assets/stories/mobile/mountains.jpg");
    }

    .sunset {
        @include set-gradient-and-background(linear-gradient(0deg, rgba(0,0,0,0.6612), rgba(0,0,0,0.01)), "/assets/stories/mobile/cityscapes.jpg");
    }

    .voyage {
        @include set-gradient-and-background(linear-gradient(0deg, rgba(0,0,0,0.6612), rgba(0,0,0,0.01)), "/assets/stories/mobile/18-days-voyage.jpg");
    }

    .architect {
        @include set-gradient-and-background(linear-gradient(0deg, rgba(0,0,0,0.6612), rgba(0,0,0,0.01)), "/assets/stories/mobile/architecturals.jpg");
    }


    .story {
        position: relative;
    }

    .story-text {
        position: absolute;
        left: 10%;
        top: 63%;
        right: 10%;
        font-size: 1.8rem;
        font-weight: 700;
        color: white;
        width: calc(310/375*100%);
        margin: auto;

        .story-details {
            border-bottom: 1px solid rgba(151, 151, 151, 0.25);

            .story-name {
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2.5rem;
                margin-bottom: .4rem;
            }

            .story-author {
                font-weight: 300;
                font-size: 1.3rem;
                margin-bottom: 1.6rem;
            }
        }

        .story-read {
            margin-top: 2rem;
            letter-spacing: .2rem;
            font-size: 1.2rem;
            text-transform: uppercase;
            width: 100%;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
        }
    }
}

.benefits {
    width: calc(310/375*100%);
    margin: auto;
    height: 96.2rem;

    .benefit {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .benefit-txt {
            margin-top: 4.8rem;

            h3 {
                font-size: 1.8rem;
                line-height: 2.5rem;
                font-weight: 700;
            }
            p {
                margin-top: 1.6rem;
                font-size: 1.5rem;
                line-height: 2.5rem;
                opacity: 60%;
            }
        }
    }
}

@media (min-width: 640px) {
    .section-stories {
        flex-direction: row;
        height: 60rem;

        .create-stories-img {
            @include set-background("/assets/home/tablet/create-and-share.jpg");
            height: 100%;
            min-width: 27.3rem;
        }

        .beauti-stories-img {
            @include set-background("/assets/home/tablet/beautiful-stories.jpg");
            height: 100%;
            min-width: 27.3rem;
        }

        .design-stories-img {
            @include set-background("/assets/home/tablet/designed-for-everyone.jpg");
            height: 100%;
            min-width: 27.3rem;
        }

        .create-stories-txt,
        .beauti-stories-txt,
        .design-stories-txt {

            height: 60rem;

            h2 {
                width: 100%;
                padding-left: 5.4rem;
                padding-right: 5.4rem;
                text-transform: uppercase;
                font-size: 4rem;
                font-weight: 700;
                line-height: 4.8rem;
                letter-spacing: .417rem;
                margin-bottom: 2.1rem;
                margin-top: 17.3rem;
            }
            h3 {
                width: 100%;
                margin: 0;
                padding-left: 5.4rem;
                padding-right: 5.4rem;
                font-weight: 300;
                opacity: 60%;
                margin-bottom: 4.8rem;
            }
        }


    .beauti-stories-txt,
    .design-stories-txt {
        h2 {
            margin-top: 13.6rem;
        }
    }

        .create-stories-txt {
            height: 65rem;
        }

        .get-invite {
            width: 100%;
            padding-left: 5.4rem;
            padding-right: 5.4rem;
        }

        .create-stories-txt {
            position: relative;
            .gradient {
                position: absolute;
                top: 17.3rem;
                margin: 0;
                height: 30.4rem;
                width: .6rem;
            }
        }
    }

    .create-stories {
        height: 65rem;
    }

    .create-stories,
    .design-stories {
        flex-direction: row-reverse;
    }

    .stories {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,min(500px));
    
        .mountains {
            @include set-gradient-and-background(linear-gradient(0deg, rgba(0,0,0,0.6612), rgba(0,0,0,0.01)), "/assets/stories/mobile/mountains.jpg");
            background-size: 100% 350px, cover;
            background-position: 0% 150px, center;
        }
    
        .sunset {
            @include set-gradient-and-background(linear-gradient(0deg, rgba(0,0,0,0.6612), rgba(0,0,0,0.01)), "/assets/stories/mobile/cityscapes.jpg");
            background-size: 100% 350px, cover;
            background-position: 0% 150px, center;
        }
    
        .voyage {
            @include set-gradient-and-background(linear-gradient(0deg, rgba(0,0,0,0.6612), rgba(0,0,0,0.01)), "/assets/stories/mobile/18-days-voyage.jpg");
            background-size: 100% 350px, cover;
            background-position: 0% 150px, center;
        }
    
        .architect {
            @include set-gradient-and-background(linear-gradient(0deg, rgba(0,0,0,0.6612), rgba(0,0,0,0.01)), "/assets/stories/mobile/architecturals.jpg");
            background-size: 100% 350px, cover;
            background-position: 0% 150px, center;
        }
    
        .story-text {
            position: absolute;
            top: 70%;
        }
        .story {
            transition: transform .2s ease-in-out;
        }

        .story:hover {
            transform: translateY(-2.4rem);
            border-bottom: 6px solid transparent;
            border-image: linear-gradient(90deg, #FFC593, #BC7198, #5A77FF);
            border-image-slice: 1;
        }
    }

    .benefits {
        width: calc(310/768*100%);
        margin: auto;
        height: 101.5rem;
    
        .benefit {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
    
            .benefit-txt {
                margin-top: 4.8rem;
    
                h3 {
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                    font-weight: 700;
                }
                p {
                    margin-top: 1.6rem;
                    font-size: 1.5rem;
                    line-height: 2.5rem;
                    opacity: 60%;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .section-stories {
        .create-stories-img {
            @include set-background("/assets/home/desktop/create-and-share.jpg");
        }

        .beauti-stories-img {
            @include set-background("/assets/home/desktop/beautiful-stories.jpg");
        }

        .design-stories-img {
            @include set-background("/assets/home/desktop/designed-for-everyone.jpg");
        }
    }

    .stories {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(1,min(500px));
    
        .story-text {
            top: 72%;
        }

        .story {
            transition: transform .2s ease-in-out;
        }

        .story:hover {
            transform: translateY(-2.4rem);
            border-bottom: 6px solid transparent;
            border-image: linear-gradient(90deg, #FFC593, #BC7198, #5A77FF);
            border-image-slice: 1;
        }
    }

    .benefits {
        flex-direction: row;
        justify-content: space-between;
        width: calc(1110/1440*100%);
        margin: auto;
        height: 47.6rem;
    
        .benefit {
            max-width: 35rem;
            
            &:not(:last-child) {
                padding-right: 3rem;
            }
        }
    }

    footer {
        padding: 0rem 17.1rem 0rem 17.1rem;

        .footer-links-hidden a:hover{
            opacity: 30%;
        }
    }
}